
body {
    background-color: red;
  }
  h1 {
    text-align: center;
    color: blue;
  }
  h2 {
    text-align: center;
    color: blue;
  }
  p {
    text-align: center;
    color: blue;
  }
  .img-container {
    text-align: center;
  }
  a {
    text-align: center;
  
  }










